@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.dropdown {
    min-width: 300px;
    width: 100px;
}

.bigger-input {
    width: 300px;
    height: 40px;
}

.debug-btn {
    position: fixed;
    right: 0;
    margin-top: 20px;
    z-index: 1001;
    border-radius: 10px 0 0 10px !important;
    margin-right: 0;
    align-self: flex-end;
    height: 40px;
}

.vpn-btn {
    position: fixed;
    right: 0;
    margin-top: 0;
    z-index: 1002;
    border-radius: 10px 0 0 10px !important;
    margin-right: 0;
    align-self: flex-end;
    height: 40px;
}

.help-btn {
    background: none;
}

.constant-width-250 {
    width: 250px;
}

.constant-width-150 {
    width: 150px;
}

.constant-height-40 {
    height: 40px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 10px; /* Adjust width of vertical scrollbar */
    height: 10px; /* Adjust height of horizontal scrollbar */
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #dcdcdc; /* Light gray color for the thumb */
    border-radius: 10px; /* Rounded edges */
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light gray background for the track */
    border-radius: 10px; /* Rounded edges */
}

body {
    background-color: #f9f9f9;
}

.p-datatable {
    border-radius: 8px;
    overflow: hidden;
    /*Bow shadow with emphasis on the bottom*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    size: fit-content;
}